---
extends: default
rules:
  line-length:
    max: 160
  truthy:
    allowed-values: ["true", "false", "yes", "no"]
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  document-start: disable
  braces:
    max-spaces-inside: 1
  brackets:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
ignore: |
  kubernetes/prometheusrule-federation.yaml
  .github/
